@font-face {
  font-family: linja-pona;
  src: url('linja-pona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.linja-pona {
  font-family: linja-pona;
  font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
  text-rendering: optimizeLegibility;
}
