<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.exclam</key>
  <string>a.exclam.glif</string>
  <key>a.mark</key>
  <string>a.mark.glif</string>
  <key>aa</key>
  <string>aa.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>akesi</key>
  <string>akesi.glif</string>
  <key>akesi.mark</key>
  <string>akesi.mark.glif</string>
  <key>ala</key>
  <string>ala.glif</string>
  <key>ala.mark</key>
  <string>ala.mark.glif</string>
  <key>ala.mark.small</key>
  <string>ala.mark.small.glif</string>
  <key>ala.sup</key>
  <string>ala.sup.glif</string>
  <key>alasa</key>
  <string>alasa.glif</string>
  <key>alasa.mark</key>
  <string>alasa.mark.glif</string>
  <key>ale</key>
  <string>ale.glif</string>
  <key>ale.mark</key>
  <string>ale.mark.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>anpa</key>
  <string>anpa.glif</string>
  <key>anpa.mark</key>
  <string>anpa.mark.glif</string>
  <key>ante</key>
  <string>ante.glif</string>
  <key>ante.mark</key>
  <string>ante.mark.glif</string>
  <key>anu</key>
  <string>anu.glif</string>
  <key>anu.mark</key>
  <string>anu.mark.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>awen</key>
  <string>awen.glif</string>
  <key>awen.base</key>
  <string>awen.base.glif</string>
  <key>awen.mark</key>
  <string>awen.mark.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colon.space</key>
  <string>colon.space.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma.space</key>
  <string>comma.space.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.mark</key>
  <string>e.mark.glif</string>
  <key>e.mark.small</key>
  <string>e.mark.small.glif</string>
  <key>ee</key>
  <string>ee.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>en</key>
  <string>en.glif</string>
  <key>en.mark</key>
  <string>en.mark.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>esun</key>
  <string>esun.glif</string>
  <key>esun.mark</key>
  <string>esun.mark.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclam.space</key>
  <string>exclam.space.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>ijo</key>
  <string>ijo.glif</string>
  <key>ijo.mark</key>
  <string>ijo.mark.glif</string>
  <key>ike</key>
  <string>ike.glif</string>
  <key>ike.base</key>
  <string>ike.base.glif</string>
  <key>ike.mark</key>
  <string>ike.mark.glif</string>
  <key>ike.mark.small</key>
  <string>ike.mark.small.glif</string>
  <key>ilo</key>
  <string>ilo.glif</string>
  <key>ilo.base</key>
  <string>ilo.base.glif</string>
  <key>ilo.mark</key>
  <string>ilo.mark.glif</string>
  <key>insa</key>
  <string>insa.glif</string>
  <key>insa.mark</key>
  <string>insa.mark.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jaki</key>
  <string>jaki.glif</string>
  <key>jaki.mark</key>
  <string>jaki.mark.glif</string>
  <key>jaki.mark.small</key>
  <string>jaki.mark.small.glif</string>
  <key>jan</key>
  <string>jan.glif</string>
  <key>jan.mark</key>
  <string>jan.mark.glif</string>
  <key>jan.mark.small</key>
  <string>jan.mark.small.glif</string>
  <key>jelo</key>
  <string>jelo.glif</string>
  <key>jelo.mark</key>
  <string>jelo.mark.glif</string>
  <key>jelo.mark.small</key>
  <string>jelo.mark.small.glif</string>
  <key>jo</key>
  <string>jo.glif</string>
  <key>jo.mark</key>
  <string>jo.mark.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kala</key>
  <string>kala.glif</string>
  <key>kala.mark</key>
  <string>kala.mark.glif</string>
  <key>kalama</key>
  <string>kalama.glif</string>
  <key>kalama.mark</key>
  <string>kalama.mark.glif</string>
  <key>kama</key>
  <string>kama.glif</string>
  <key>kama.base</key>
  <string>kama.base.glif</string>
  <key>kama.mark</key>
  <string>kama.mark.glif</string>
  <key>kasi</key>
  <string>kasi.glif</string>
  <key>kasi.base</key>
  <string>kasi.base.glif</string>
  <key>kasi.mark</key>
  <string>kasi.mark.glif</string>
  <key>kasi.mark.small</key>
  <string>kasi.mark.small.glif</string>
  <key>kasi.sup</key>
  <string>kasi.sup.glif</string>
  <key>ken</key>
  <string>ken.glif</string>
  <key>ken.mark</key>
  <string>ken.mark.glif</string>
  <key>kepeken</key>
  <string>kepeken.glif</string>
  <key>kepeken.mark</key>
  <string>kepeken.mark.glif</string>
  <key>kili</key>
  <string>kili.glif</string>
  <key>kili.mark</key>
  <string>kili.mark.glif</string>
  <key>kin</key>
  <string>kin.glif</string>
  <key>kin.exclam</key>
  <string>kin.exclam.glif</string>
  <key>kin.mark</key>
  <string>kin.mark.glif</string>
  <key>kipisi</key>
  <string>kipisi.glif</string>
  <key>kipisi.mark</key>
  <string>kipisi.mark.glif</string>
  <key>kipisi.mark.small</key>
  <string>kipisi.mark.small.glif</string>
  <key>kiwen</key>
  <string>kiwen.glif</string>
  <key>kiwen.mark</key>
  <string>kiwen.mark.glif</string>
  <key>ko</key>
  <string>ko.glif</string>
  <key>ko.mark</key>
  <string>ko.mark.glif</string>
  <key>kon</key>
  <string>kon.glif</string>
  <key>kon.base</key>
  <string>kon.base.glif</string>
  <key>kon.mark</key>
  <string>kon.mark.glif</string>
  <key>kule</key>
  <string>kule.glif</string>
  <key>kule.mark</key>
  <string>kule.mark.glif</string>
  <key>kule.mark.small</key>
  <string>kule.mark.small.glif</string>
  <key>kulupu</key>
  <string>kulupu.glif</string>
  <key>kulupu.mark</key>
  <string>kulupu.mark.glif</string>
  <key>kute</key>
  <string>kute.glif</string>
  <key>kute.mark</key>
  <string>kute.mark.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la</key>
  <string>la.glif</string>
  <key>la.mark</key>
  <string>la.mark.glif</string>
  <key>lape</key>
  <string>lape.glif</string>
  <key>lape.mark</key>
  <string>lape.mark.glif</string>
  <key>lape.mark.small</key>
  <string>lape.mark.small.glif</string>
  <key>laso</key>
  <string>laso.glif</string>
  <key>laso.mark</key>
  <string>laso.mark.glif</string>
  <key>laso.mark.small</key>
  <string>laso.mark.small.glif</string>
  <key>lawa</key>
  <string>lawa.glif</string>
  <key>lawa.mark</key>
  <string>lawa.mark.glif</string>
  <key>lawa.mark.small</key>
  <string>lawa.mark.small.glif</string>
  <key>lawa.sup</key>
  <string>lawa.sup.glif</string>
  <key>leko</key>
  <string>leko.glif</string>
  <key>leko.mark</key>
  <string>leko.mark.glif</string>
  <key>len</key>
  <string>len.glif</string>
  <key>len.base</key>
  <string>len.base.glif</string>
  <key>len.mark</key>
  <string>len.mark.glif</string>
  <key>len.sup</key>
  <string>len.sup.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lete</key>
  <string>lete.glif</string>
  <key>lete.mark</key>
  <string>lete.mark.glif</string>
  <key>lete.mark.small</key>
  <string>lete.mark.small.glif</string>
  <key>li</key>
  <string>li.glif</string>
  <key>li.mark</key>
  <string>li.mark.glif</string>
  <key>li.mark.small</key>
  <string>li.mark.small.glif</string>
  <key>lili</key>
  <string>lili.glif</string>
  <key>lili.mark</key>
  <string>lili.mark.glif</string>
  <key>lili.mark.small</key>
  <string>lili.mark.small.glif</string>
  <key>lili.sup</key>
  <string>lili.sup.glif</string>
  <key>linja</key>
  <string>linja.glif</string>
  <key>linja.base</key>
  <string>linja.base.glif</string>
  <key>linja.mark</key>
  <string>linja.mark.glif</string>
  <key>lipu</key>
  <string>lipu.glif</string>
  <key>lipu.mark</key>
  <string>lipu.mark.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>loje</key>
  <string>loje.glif</string>
  <key>loje.mark</key>
  <string>loje.mark.glif</string>
  <key>loje.mark.small</key>
  <string>loje.mark.small.glif</string>
  <key>lon</key>
  <string>lon.glif</string>
  <key>lon.base</key>
  <string>lon.base.glif</string>
  <key>lon.mark</key>
  <string>lon.mark.glif</string>
  <key>luka</key>
  <string>luka.glif</string>
  <key>luka.base</key>
  <string>luka.base.glif</string>
  <key>luka.mark</key>
  <string>luka.mark.glif</string>
  <key>luka.mark.small</key>
  <string>luka.mark.small.glif</string>
  <key>luka.sup</key>
  <string>luka.sup.glif</string>
  <key>lukin</key>
  <string>lukin.glif</string>
  <key>lukin.base</key>
  <string>lukin.base.glif</string>
  <key>lukin.mark</key>
  <string>lukin.mark.glif</string>
  <key>lupa</key>
  <string>lupa.glif</string>
  <key>lupa.mark</key>
  <string>lupa.mark.glif</string>
  <key>lupa.sup</key>
  <string>lupa.sup.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma</key>
  <string>ma.glif</string>
  <key>ma.base</key>
  <string>ma.base.glif</string>
  <key>ma.mark</key>
  <string>ma.mark.glif</string>
  <key>ma.mark.small</key>
  <string>ma.mark.small.glif</string>
  <key>mama</key>
  <string>mama.glif</string>
  <key>mama.base</key>
  <string>mama.base.glif</string>
  <key>mama.mark</key>
  <string>mama.mark.glif</string>
  <key>mama.mark.small</key>
  <string>mama.mark.small.glif</string>
  <key>mani</key>
  <string>mani.glif</string>
  <key>mani.mark</key>
  <string>mani.mark.glif</string>
  <key>meli</key>
  <string>meli.glif</string>
  <key>meli.base</key>
  <string>meli.base.glif</string>
  <key>meli.mark</key>
  <string>meli.mark.glif</string>
  <key>meli.mark.small</key>
  <string>meli.mark.small.glif</string>
  <key>mi</key>
  <string>mi.glif</string>
  <key>mi.mark</key>
  <string>mi.mark.glif</string>
  <key>middot.001</key>
  <string>middot.001.glif</string>
  <key>mije</key>
  <string>mije.glif</string>
  <key>mije.mark</key>
  <string>mije.mark.glif</string>
  <key>mije.mark.small</key>
  <string>mije.mark.small.glif</string>
  <key>moku</key>
  <string>moku.glif</string>
  <key>moku.mark</key>
  <string>moku.mark.glif</string>
  <key>moku.sup</key>
  <string>moku.sup.glif</string>
  <key>moli</key>
  <string>moli.glif</string>
  <key>moli.mark</key>
  <string>moli.mark.glif</string>
  <key>moli.sup</key>
  <string>moli.sup.glif</string>
  <key>monsi</key>
  <string>monsi.glif</string>
  <key>monsi.mark</key>
  <string>monsi.mark.glif</string>
  <key>monsi.sup</key>
  <string>monsi.sup.glif</string>
  <key>monsuta</key>
  <string>monsuta.glif</string>
  <key>monsuta.mark</key>
  <string>monsuta.mark.glif</string>
  <key>monsuta.mark.small</key>
  <string>monsuta.mark.small.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>mu.mark</key>
  <string>mu.mark.glif</string>
  <key>mu1</key>
  <string>mu1.glif</string>
  <key>mun</key>
  <string>mun.glif</string>
  <key>mun.mark</key>
  <string>mun.mark.glif</string>
  <key>mun.mark.small</key>
  <string>mun.mark.small.glif</string>
  <key>musi</key>
  <string>musi.glif</string>
  <key>musi.mark</key>
  <string>musi.mark.glif</string>
  <key>musi.sup</key>
  <string>musi.sup.glif</string>
  <key>mute</key>
  <string>mute.glif</string>
  <key>mute.mark</key>
  <string>mute.mark.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>namako</key>
  <string>namako.glif</string>
  <key>namako.mark</key>
  <string>namako.mark.glif</string>
  <key>nanpa</key>
  <string>nanpa.glif</string>
  <key>nanpa.mark</key>
  <string>nanpa.mark.glif</string>
  <key>nanpa.mark.small</key>
  <string>nanpa.mark.small.glif</string>
  <key>nanpa.sup</key>
  <string>nanpa.sup.glif</string>
  <key>nasa</key>
  <string>nasa.glif</string>
  <key>nasa.mark</key>
  <string>nasa.mark.glif</string>
  <key>nasa.mark.small</key>
  <string>nasa.mark.small.glif</string>
  <key>nasin</key>
  <string>nasin.glif</string>
  <key>nasin.mark</key>
  <string>nasin.mark.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nena</key>
  <string>nena.glif</string>
  <key>nena.mark</key>
  <string>nena.mark.glif</string>
  <key>ni</key>
  <string>ni.glif</string>
  <key>ni.mark</key>
  <string>ni.mark.glif</string>
  <key>nimi</key>
  <string>nimi.glif</string>
  <key>nimi.base</key>
  <string>nimi.base.glif</string>
  <key>nimi.mark</key>
  <string>nimi.mark.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>noka</key>
  <string>noka.glif</string>
  <key>noka.mark</key>
  <string>noka.mark.glif</string>
  <key>noka.mark.small</key>
  <string>noka.mark.small.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.exclam</key>
  <string>o.exclam.glif</string>
  <key>o.mark</key>
  <string>o.mark.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>oko</key>
  <string>oko.glif</string>
  <key>oko.mark</key>
  <string>oko.mark.glif</string>
  <key>oko.sup</key>
  <string>oko.sup.glif</string>
  <key>olin</key>
  <string>olin.glif</string>
  <key>olin.mark</key>
  <string>olin.mark.glif</string>
  <key>ona</key>
  <string>ona.glif</string>
  <key>ona.mark</key>
  <string>ona.mark.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oo</key>
  <string>oo.glif</string>
  <key>open</key>
  <string>open.glif</string>
  <key>open.mark</key>
  <string>open.mark.glif</string>
  <key>open.sup</key>
  <string>open.sup.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>overscore</key>
  <string>overscore.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pakala</key>
  <string>pakala.glif</string>
  <key>pakala.mark</key>
  <string>pakala.mark.glif</string>
  <key>pakala.mark.small</key>
  <string>pakala.mark.small.glif</string>
  <key>pake</key>
  <string>pake.glif</string>
  <key>pake.mark</key>
  <string>pake.mark.glif</string>
  <key>pali</key>
  <string>pali.glif</string>
  <key>pali.mark</key>
  <string>pali.mark.glif</string>
  <key>pali.sup</key>
  <string>pali.sup.glif</string>
  <key>palisa</key>
  <string>palisa.glif</string>
  <key>palisa.mark</key>
  <string>palisa.mark.glif</string>
  <key>palisa.mark.small</key>
  <string>palisa.mark.small.glif</string>
  <key>pan</key>
  <string>pan.glif</string>
  <key>pan.mark</key>
  <string>pan.mark.glif</string>
  <key>pana</key>
  <string>pana.glif</string>
  <key>pana.mark</key>
  <string>pana.mark.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.space</key>
  <string>period.space.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>pi.base</key>
  <string>pi.base.glif</string>
  <key>pi.mark</key>
  <string>pi.mark.glif</string>
  <key>pilin</key>
  <string>pilin.glif</string>
  <key>pilin.mark</key>
  <string>pilin.mark.glif</string>
  <key>pimeja</key>
  <string>pimeja.glif</string>
  <key>pimeja.mark</key>
  <string>pimeja.mark.glif</string>
  <key>pimeja.mark.small</key>
  <string>pimeja.mark.small.glif</string>
  <key>pini</key>
  <string>pini.glif</string>
  <key>pini.base</key>
  <string>pini.base.glif</string>
  <key>pini.mark</key>
  <string>pini.mark.glif</string>
  <key>pipi</key>
  <string>pipi.glif</string>
  <key>pipi.mark</key>
  <string>pipi.mark.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>poka</key>
  <string>poka.glif</string>
  <key>poka.mark</key>
  <string>poka.mark.glif</string>
  <key>poki</key>
  <string>poki.glif</string>
  <key>poki.mark</key>
  <string>poki.mark.glif</string>
  <key>pona</key>
  <string>pona.glif</string>
  <key>pona.mark</key>
  <string>pona.mark.glif</string>
  <key>pona.mark.small</key>
  <string>pona.mark.small.glif</string>
  <key>pona.sup</key>
  <string>pona.sup.glif</string>
  <key>pu</key>
  <string>pu.glif</string>
  <key>pu.mark</key>
  <string>pu.mark.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question.space</key>
  <string>question.space.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sama</key>
  <string>sama.glif</string>
  <key>sama.base</key>
  <string>sama.base.glif</string>
  <key>sama.mark</key>
  <string>sama.mark.glif</string>
  <key>sama.mark.small</key>
  <string>sama.mark.small.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>seli</key>
  <string>seli.glif</string>
  <key>seli.mark</key>
  <string>seli.mark.glif</string>
  <key>seli.mark.small</key>
  <string>seli.mark.small.glif</string>
  <key>selo</key>
  <string>selo.glif</string>
  <key>selo.base</key>
  <string>selo.base.glif</string>
  <key>selo.mark</key>
  <string>selo.mark.glif</string>
  <key>seme</key>
  <string>seme.glif</string>
  <key>seme.mark</key>
  <string>seme.mark.glif</string>
  <key>seme.question</key>
  <string>seme.question.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sewi</key>
  <string>sewi.glif</string>
  <key>sewi.mark</key>
  <string>sewi.mark.glif</string>
  <key>sewi.mark.small</key>
  <string>sewi.mark.small.glif</string>
  <key>sfthyphen</key>
  <string>sfthyphen.glif</string>
  <key>sijelo</key>
  <string>sijelo.glif</string>
  <key>sijelo.base</key>
  <string>sijelo.base.glif</string>
  <key>sijelo.mark</key>
  <string>sijelo.mark.glif</string>
  <key>sijelo.mark.small</key>
  <string>sijelo.mark.small.glif</string>
  <key>sike</key>
  <string>sike.glif</string>
  <key>sike.base</key>
  <string>sike.base.glif</string>
  <key>sike.mark</key>
  <string>sike.mark.glif</string>
  <key>sin</key>
  <string>sin.glif</string>
  <key>sin.mark</key>
  <string>sin.mark.glif</string>
  <key>sin.mark.small</key>
  <string>sin.mark.small.glif</string>
  <key>sina</key>
  <string>sina.glif</string>
  <key>sina.mark</key>
  <string>sina.mark.glif</string>
  <key>sinpin</key>
  <string>sinpin.glif</string>
  <key>sinpin.mark</key>
  <string>sinpin.mark.glif</string>
  <key>sinpin.sup</key>
  <string>sinpin.sup.glif</string>
  <key>sitelen</key>
  <string>sitelen.glif</string>
  <key>sitelen.base</key>
  <string>sitelen.base.glif</string>
  <key>sitelen.mark</key>
  <string>sitelen.mark.glif</string>
  <key>sitelen.mark.small</key>
  <string>sitelen.mark.small.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>sona</key>
  <string>sona.glif</string>
  <key>sona.mark</key>
  <string>sona.mark.glif</string>
  <key>sona.mark.small</key>
  <string>sona.mark.small.glif</string>
  <key>soweli</key>
  <string>soweli.glif</string>
  <key>soweli.mark</key>
  <string>soweli.mark.glif</string>
  <key>soweli.sup</key>
  <string>soweli.sup.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>space.space</key>
  <string>space.space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>suli</key>
  <string>suli.glif</string>
  <key>suli.mark</key>
  <string>suli.mark.glif</string>
  <key>suno</key>
  <string>suno.glif</string>
  <key>suno.mark</key>
  <string>suno.mark.glif</string>
  <key>suno.mark.small</key>
  <string>suno.mark.small.glif</string>
  <key>suno.sup</key>
  <string>suno.sup.glif</string>
  <key>supa</key>
  <string>supa.glif</string>
  <key>supa.base</key>
  <string>supa.base.glif</string>
  <key>supa.mark</key>
  <string>supa.mark.glif</string>
  <key>suwi</key>
  <string>suwi.glif</string>
  <key>suwi.mark</key>
  <string>suwi.mark.glif</string>
  <key>suwi.mark.small</key>
  <string>suwi.mark.small.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tan</key>
  <string>tan.glif</string>
  <key>tan.mark</key>
  <string>tan.mark.glif</string>
  <key>taso</key>
  <string>taso.glif</string>
  <key>taso.mark</key>
  <string>taso.mark.glif</string>
  <key>tawa</key>
  <string>tawa.glif</string>
  <key>tawa.base</key>
  <string>tawa.base.glif</string>
  <key>tawa.mark</key>
  <string>tawa.mark.glif</string>
  <key>tawa.mark.small</key>
  <string>tawa.mark.small.glif</string>
  <key>telo</key>
  <string>telo.glif</string>
  <key>telo.base</key>
  <string>telo.base.glif</string>
  <key>telo.mark</key>
  <string>telo.mark.glif</string>
  <key>tenpo</key>
  <string>tenpo.glif</string>
  <key>tenpo.base</key>
  <string>tenpo.base.glif</string>
  <key>tenpo.mark</key>
  <string>tenpo.mark.glif</string>
  <key>tenpo.mark.small</key>
  <string>tenpo.mark.small.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>toki</key>
  <string>toki.glif</string>
  <key>toki.mark</key>
  <string>toki.mark.glif</string>
  <key>toki.mark.small</key>
  <string>toki.mark.small.glif</string>
  <key>toki.sup</key>
  <string>toki.sup.glif</string>
  <key>tomo</key>
  <string>tomo.glif</string>
  <key>tomo.mark</key>
  <string>tomo.mark.glif</string>
  <key>tomo.sup</key>
  <string>tomo.sup.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tu</key>
  <string>tu.glif</string>
  <key>tu.mark</key>
  <string>tu.mark.glif</string>
  <key>tu.tu</key>
  <string>tu.tu.glif</string>
  <key>tu.wan</key>
  <string>tu.wan.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>unpa</key>
  <string>unpa.glif</string>
  <key>unpa.mark</key>
  <string>unpa.mark.glif</string>
  <key>unpa.mark.small</key>
  <string>unpa.mark.small.glif</string>
  <key>uta</key>
  <string>uta.glif</string>
  <key>uta.mark</key>
  <string>uta.mark.glif</string>
  <key>utala</key>
  <string>utala.glif</string>
  <key>utala.mark</key>
  <string>utala.mark.glif</string>
  <key>utala.mark.small</key>
  <string>utala.mark.small.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>walo</key>
  <string>walo.glif</string>
  <key>walo.mark</key>
  <string>walo.mark.glif</string>
  <key>walo.mark.small</key>
  <string>walo.mark.small.glif</string>
  <key>wan</key>
  <string>wan.glif</string>
  <key>wan.mark</key>
  <string>wan.mark.glif</string>
  <key>wan.tu</key>
  <string>wan.tu.glif</string>
  <key>waso</key>
  <string>waso.glif</string>
  <key>waso.mark</key>
  <string>waso.mark.glif</string>
  <key>wawa</key>
  <string>wawa.glif</string>
  <key>wawa.mark</key>
  <string>wawa.mark.glif</string>
  <key>weka</key>
  <string>weka.glif</string>
  <key>weka.mark</key>
  <string>weka.mark.glif</string>
  <key>wile</key>
  <string>wile.glif</string>
  <key>wile.mark</key>
  <string>wile.mark.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
