<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uniE600</key>
    <string>uniE_600.glif</string>
    <key>uniE601</key>
    <string>uniE_601.glif</string>
    <key>uniE602</key>
    <string>uniE_602.glif</string>
    <key>uniE603</key>
    <string>uniE_603.glif</string>
    <key>uniE604</key>
    <string>uniE_604.glif</string>
    <key>uniE605</key>
    <string>uniE_605.glif</string>
    <key>uniE606</key>
    <string>uniE_606.glif</string>
    <key>uniE607</key>
    <string>uniE_607.glif</string>
    <key>uniE608</key>
    <string>uniE_608.glif</string>
    <key>uniE609</key>
    <string>uniE_609.glif</string>
    <key>uniE60A</key>
    <string>uniE_60A_.glif</string>
    <key>uniE60B</key>
    <string>uniE_60B_.glif</string>
    <key>uniE60C</key>
    <string>uniE_60C_.glif</string>
    <key>uniE60D</key>
    <string>uniE_60D_.glif</string>
    <key>uniE60E</key>
    <string>uniE_60E_.glif</string>
    <key>uniE60F</key>
    <string>uniE_60F_.glif</string>
    <key>uniE610</key>
    <string>uniE_610.glif</string>
    <key>uniE611</key>
    <string>uniE_611.glif</string>
    <key>uniE612</key>
    <string>uniE_612.glif</string>
    <key>uniE613</key>
    <string>uniE_613.glif</string>
    <key>uniE614</key>
    <string>uniE_614.glif</string>
    <key>uniE615</key>
    <string>uniE_615.glif</string>
    <key>uniE616</key>
    <string>uniE_616.glif</string>
    <key>uniE617</key>
    <string>uniE_617.glif</string>
    <key>uniE618</key>
    <string>uniE_618.glif</string>
    <key>uniE619</key>
    <string>uniE_619.glif</string>
    <key>uniE61A</key>
    <string>uniE_61A_.glif</string>
    <key>uniE61B</key>
    <string>uniE_61B_.glif</string>
    <key>uniE61C</key>
    <string>uniE_61C_.glif</string>
    <key>uniE61D</key>
    <string>uniE_61D_.glif</string>
    <key>uniE61E</key>
    <string>uniE_61E_.glif</string>
    <key>uniE61F</key>
    <string>uniE_61F_.glif</string>
    <key>uniE620</key>
    <string>uniE_620.glif</string>
    <key>uniE621</key>
    <string>uniE_621.glif</string>
    <key>uniE622</key>
    <string>uniE_622.glif</string>
    <key>uniE623</key>
    <string>uniE_623.glif</string>
    <key>uniE624</key>
    <string>uniE_624.glif</string>
    <key>uniE625</key>
    <string>uniE_625.glif</string>
    <key>uniE626</key>
    <string>uniE_626.glif</string>
    <key>uniE627</key>
    <string>uniE_627.glif</string>
    <key>uniE628</key>
    <string>uniE_628.glif</string>
    <key>uniE629</key>
    <string>uniE_629.glif</string>
    <key>uniE62A</key>
    <string>uniE_62A_.glif</string>
    <key>uniE62B</key>
    <string>uniE_62B_.glif</string>
    <key>uniE62C</key>
    <string>uniE_62C_.glif</string>
    <key>uniE62D</key>
    <string>uniE_62D_.glif</string>
    <key>uniE62E</key>
    <string>uniE_62E_.glif</string>
    <key>uniE62F</key>
    <string>uniE_62F_.glif</string>
    <key>uniE630</key>
    <string>uniE_630.glif</string>
    <key>uniE631</key>
    <string>uniE_631.glif</string>
    <key>uniE632</key>
    <string>uniE_632.glif</string>
    <key>uniE633</key>
    <string>uniE_633.glif</string>
    <key>uniE634</key>
    <string>uniE_634.glif</string>
    <key>uniE635</key>
    <string>uniE_635.glif</string>
    <key>uniE636</key>
    <string>uniE_636.glif</string>
    <key>uniE637</key>
    <string>uniE_637.glif</string>
    <key>uniE638</key>
    <string>uniE_638.glif</string>
    <key>uniE639</key>
    <string>uniE_639.glif</string>
    <key>uniE63A</key>
    <string>uniE_63A_.glif</string>
    <key>uniE63B</key>
    <string>uniE_63B_.glif</string>
    <key>uniE63C</key>
    <string>uniE_63C_.glif</string>
    <key>uniE63D</key>
    <string>uniE_63D_.glif</string>
    <key>uniE63E</key>
    <string>uniE_63E_.glif</string>
    <key>uniE63F</key>
    <string>uniE_63F_.glif</string>
    <key>uniE640</key>
    <string>uniE_640.glif</string>
    <key>uniE641</key>
    <string>uniE_641.glif</string>
    <key>uniE642</key>
    <string>uniE_642.glif</string>
    <key>uniE643</key>
    <string>uniE_643.glif</string>
    <key>uniE644</key>
    <string>uniE_644.glif</string>
    <key>uniE645</key>
    <string>uniE_645.glif</string>
    <key>uniE646</key>
    <string>uniE_646.glif</string>
    <key>uniE647</key>
    <string>uniE_647.glif</string>
    <key>uniE648</key>
    <string>uniE_648.glif</string>
    <key>uniE649</key>
    <string>uniE_649.glif</string>
    <key>uniE64A</key>
    <string>uniE_64A_.glif</string>
    <key>uniE64B</key>
    <string>uniE_64B_.glif</string>
    <key>uniE64C</key>
    <string>uniE_64C_.glif</string>
    <key>uniE64D</key>
    <string>uniE_64D_.glif</string>
    <key>uniE64E</key>
    <string>uniE_64E_.glif</string>
    <key>uniE64F</key>
    <string>uniE_64F_.glif</string>
    <key>uniE650</key>
    <string>uniE_650.glif</string>
    <key>uniE651</key>
    <string>uniE_651.glif</string>
    <key>uniE652</key>
    <string>uniE_652.glif</string>
    <key>uniE653</key>
    <string>uniE_653.glif</string>
    <key>uniE654</key>
    <string>uniE_654.glif</string>
    <key>uniE655</key>
    <string>uniE_655.glif</string>
    <key>uniE656</key>
    <string>uniE_656.glif</string>
    <key>uniE657</key>
    <string>uniE_657.glif</string>
    <key>uniE658</key>
    <string>uniE_658.glif</string>
    <key>uniE659</key>
    <string>uniE_659.glif</string>
    <key>uniE65A</key>
    <string>uniE_65A_.glif</string>
    <key>uniE65B</key>
    <string>uniE_65B_.glif</string>
    <key>uniE65C</key>
    <string>uniE_65C_.glif</string>
    <key>uniE65D</key>
    <string>uniE_65D_.glif</string>
    <key>uniE65E</key>
    <string>uniE_65E_.glif</string>
    <key>uniE65F</key>
    <string>uniE_65F_.glif</string>
    <key>uniE660</key>
    <string>uniE_660.glif</string>
    <key>uniE661</key>
    <string>uniE_661.glif</string>
    <key>uniE662</key>
    <string>uniE_662.glif</string>
    <key>uniE663</key>
    <string>uniE_663.glif</string>
    <key>uniE664</key>
    <string>uniE_664.glif</string>
    <key>uniE665</key>
    <string>uniE_665.glif</string>
    <key>uniE666</key>
    <string>uniE_666.glif</string>
    <key>uniE667</key>
    <string>uniE_667.glif</string>
    <key>uniE668</key>
    <string>uniE_668.glif</string>
    <key>uniE669</key>
    <string>uniE_669.glif</string>
    <key>uniE66A</key>
    <string>uniE_66A_.glif</string>
    <key>uniE66B</key>
    <string>uniE_66B_.glif</string>
    <key>uniE66C</key>
    <string>uniE_66C_.glif</string>
    <key>uniE66D</key>
    <string>uniE_66D_.glif</string>
    <key>uniE66E</key>
    <string>uniE_66E_.glif</string>
    <key>uniE66F</key>
    <string>uniE_66F_.glif</string>
    <key>uniE670</key>
    <string>uniE_670.glif</string>
    <key>uniE671</key>
    <string>uniE_671.glif</string>
    <key>uniE672</key>
    <string>uniE_672.glif</string>
    <key>uniE673</key>
    <string>uniE_673.glif</string>
    <key>uniE674</key>
    <string>uniE_674.glif</string>
    <key>uniE675</key>
    <string>uniE_675.glif</string>
    <key>uniE676</key>
    <string>uniE_676.glif</string>
    <key>uniE677</key>
    <string>uniE_677.glif</string>
    <key>uniE678</key>
    <string>uniE_678.glif</string>
    <key>uniE679</key>
    <string>uniE_679.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>sfthyphen</key>
    <string>sfthyphen.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>overscore</key>
    <string>overscore.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>mu1</key>
    <string>mu1.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>middot.001</key>
    <string>middot.001.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>space.001</key>
    <string>space.001.glif</string>
    <key>_65535</key>
    <string>_65535.glif</string>
    <key>telokule</key>
    <string>telokule.glif</string>
    <key>telo_lete</key>
    <string>telo_lete.glif</string>
    <key>uniE680</key>
    <string>uniE_680.glif</string>
    <key>uniE681</key>
    <string>uniE_681.glif</string>
    <key>uniE700</key>
    <string>uniE_700.glif</string>
    <key>uniE710</key>
    <string>uniE_710.glif</string>
    <key>uniE711</key>
    <string>uniE_711.glif</string>
    <key>uniE712</key>
    <string>uniE_712.glif</string>
    <key>uniE720</key>
    <string>uniE_720.glif</string>
    <key>uniE721</key>
    <string>uniE_721.glif</string>
    <key>uniE722</key>
    <string>uniE_722.glif</string>
    <key>uniE723</key>
    <string>uniE_723.glif</string>
    <key>uniE724</key>
    <string>uniE_724.glif</string>
    <key>uniE25</key>
    <string>uniE_25.glif</string>
    <key>uniE725</key>
    <string>uniE_725.glif</string>
    <key>uniE750</key>
    <string>uniE_750.glif</string>
    <key>uniE751</key>
    <string>uniE_751.glif</string>
    <key>uniE752</key>
    <string>uniE_752.glif</string>
    <key>uniE753</key>
    <string>uniE_753.glif</string>
    <key>uniE754</key>
    <string>uniE_754.glif</string>
    <key>uniE755</key>
    <string>uniE_755.glif</string>
    <key>uniE756</key>
    <string>uniE_756.glif</string>
    <key>uniE757</key>
    <string>uniE_757.glif</string>
    <key>uniE758</key>
    <string>uniE_758.glif</string>
    <key>uniE759</key>
    <string>uniE_759.glif</string>
    <key>uniE760</key>
    <string>uniE_760.glif</string>
    <key>uniE761</key>
    <string>uniE_761.glif</string>
    <key>uniE762</key>
    <string>uniE_762.glif</string>
    <key>uniE763</key>
    <string>uniE_763.glif</string>
    <key>uniE764</key>
    <string>uniE_764.glif</string>
    <key>uniE765</key>
    <string>uniE_765.glif</string>
    <key>uniE766</key>
    <string>uniE_766.glif</string>
    <key>uniE767</key>
    <string>uniE_767.glif</string>
    <key>uniE768</key>
    <string>uniE_768.glif</string>
    <key>uniE769</key>
    <string>uniE_769.glif</string>
    <key>uniE770</key>
    <string>uniE_770.glif</string>
    <key>uniE771</key>
    <string>uniE_771.glif</string>
    <key>uniE772</key>
    <string>uniE_772.glif</string>
    <key>uniE773</key>
    <string>uniE_773.glif</string>
    <key>uniE774</key>
    <string>uniE_774.glif</string>
    <key>uniE775</key>
    <string>uniE_775.glif</string>
    <key>uniE776</key>
    <string>uniE_776.glif</string>
    <key>uniE777</key>
    <string>uniE_777.glif</string>
    <key>uniE800</key>
    <string>uniE_800.glif</string>
    <key>uniE801</key>
    <string>uniE_801.glif</string>
    <key>uniE805</key>
    <string>uniE_805.glif</string>
    <key>uniE810</key>
    <string>uniE_810.glif</string>
    <key>uniE811</key>
    <string>uniE_811.glif</string>
    <key>uniE812</key>
    <string>uniE_812.glif</string>
    <key>uniE813</key>
    <string>uniE_813.glif</string>
    <key>uniE820</key>
    <string>uniE_820.glif</string>
    <key>uniE821</key>
    <string>uniE_821.glif</string>
    <key>uniE830</key>
    <string>uniE_830.glif</string>
    <key>uniE835</key>
    <string>uniE_835.glif</string>
    <key>uniE836</key>
    <string>uniE_836.glif</string>
    <key>uniE837</key>
    <string>uniE_837.glif</string>
    <key>uniE838</key>
    <string>uniE_838.glif</string>
    <key>uniE842</key>
    <string>uniE_842.glif</string>
    <key>uniE845</key>
    <string>uniE_845.glif</string>
    <key>uniE846</key>
    <string>uniE_846.glif</string>
    <key>uniE850</key>
    <string>uniE_850.glif</string>
    <key>uniE855</key>
    <string>uniE_855.glif</string>
    <key>uniE856</key>
    <string>uniE_856.glif</string>
    <key>uniE857</key>
    <string>uniE_857.glif</string>
    <key>uniE858</key>
    <string>uniE_858.glif</string>
    <key>uniE859</key>
    <string>uniE_859.glif</string>
    <key>uniE865</key>
    <string>uniE_865.glif</string>
    <key>uniE866</key>
    <string>uniE_866.glif</string>
    <key>uniE867</key>
    <string>uniE_867.glif</string>
    <key>uniE870</key>
    <string>uniE_870.glif</string>
    <key>uniE871</key>
    <string>uniE_871.glif</string>
    <key>uniE872</key>
    <string>uniE_872.glif</string>
    <key>uniE875</key>
    <string>uniE_875.glif</string>
    <key>uniE876</key>
    <string>uniE_876.glif</string>
    <key>uniE877</key>
    <string>uniE_877.glif</string>
    <key>uniE878</key>
    <string>uniE_878.glif</string>
    <key>uniE803</key>
    <string>uniE_803.glif</string>
    <key>uniE880</key>
    <string>uniE_880.glif</string>
    <key>uniE881</key>
    <string>uniE_881.glif</string>
    <key>uniE882</key>
    <string>uniE_882.glif</string>
    <key>uniE883</key>
    <string>uniE_883.glif</string>
    <key>uniE884</key>
    <string>uniE_884.glif</string>
    <key>uniE890</key>
    <string>uniE_890.glif</string>
    <key>uniE893</key>
    <string>uniE_893.glif</string>
    <key>uniE894</key>
    <string>uniE_894.glif</string>
    <key>uniE895</key>
    <string>uniE_895.glif</string>
    <key>uniE905</key>
    <string>uniE_905.glif</string>
    <key>uniE906</key>
    <string>uniE_906.glif</string>
    <key>uniE907</key>
    <string>uniE_907.glif</string>
    <key>uniE908</key>
    <string>uniE_908.glif</string>
    <key>uniE915</key>
    <string>uniE_915.glif</string>
    <key>uniE918</key>
    <string>uniE_918.glif</string>
    <key>uniE919</key>
    <string>uniE_919.glif</string>
    <key>uniE920</key>
    <string>uniE_920.glif</string>
    <key>uniE921</key>
    <string>uniE_921.glif</string>
    <key>uniE922</key>
    <string>uniE_922.glif</string>
    <key>uniE879</key>
    <string>uniE_879.glif</string>
    <key>uniE913</key>
    <string>uniE_913.glif</string>
    <key>uniE925</key>
    <string>uniE_925.glif</string>
    <key>uniE923</key>
    <string>uniE_923.glif</string>
    <key>uniE926</key>
    <string>uniE_926.glif</string>
    <key>uniE930</key>
    <string>uniE_930.glif</string>
    <key>uniE945</key>
    <string>uniE_945.glif</string>
    <key>uniE946</key>
    <string>uniE_946.glif</string>
    <key>uniE947</key>
    <string>uniE_947.glif</string>
    <key>uniE948</key>
    <string>uniE_948.glif</string>
    <key>uniE949</key>
    <string>uniE_949.glif</string>
    <key>uniE955</key>
    <string>uniE_955.glif</string>
    <key>uniE956</key>
    <string>uniE_956.glif</string>
    <key>uniE960</key>
    <string>uniE_960.glif</string>
    <key>uniE961</key>
    <string>uniE_961.glif</string>
    <key>uniE962</key>
    <string>uniE_962.glif</string>
    <key>uniE975</key>
    <string>uniE_975.glif</string>
    <key>uniE965</key>
    <string>uniE_965.glif</string>
    <key>uniE966</key>
    <string>uniE_966.glif</string>
    <key>uniE967</key>
    <string>uniE_967.glif</string>
    <key>uniE968</key>
    <string>uniE_968.glif</string>
    <key>uniE969</key>
    <string>uniE_969.glif</string>
    <key>uniE972</key>
    <string>uniE_972.glif</string>
    <key>uniE973</key>
    <string>uniE_973.glif</string>
    <key>uniE974</key>
    <string>uniE_974.glif</string>
    <key>uniE990</key>
    <string>uniE_990.glif</string>
    <key>uniE991</key>
    <string>uniE_991.glif</string>
    <key>uniE996</key>
    <string>uniE_996.glif</string>
    <key>uniE682</key>
    <string>uniE_682.glif</string>
    <key>uniE683</key>
    <string>uniE_683.glif</string>
    <key>uniE685</key>
    <string>uniE_685.glif</string>
    <key>uniE690</key>
    <string>uniE_690.glif</string>
    <key>uniE691</key>
    <string>uniE_691.glif</string>
    <key>uniE692</key>
    <string>uniE_692.glif</string>
    <key>uniE693</key>
    <string>uniE_693.glif</string>
    <key>uniE694</key>
    <string>uniE_694.glif</string>
    <key>uniE695</key>
    <string>uniE_695.glif</string>
    <key>uniE696</key>
    <string>uniE_696.glif</string>
    <key>uniF001</key>
    <string>uniF_001.glif</string>
    <key>uniF002</key>
    <string>uniF_002.glif</string>
    <key>uniE713</key>
    <string>uniE_713.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni0001</key>
    <string>uni0001.glif</string>
    <key>uniE778</key>
    <string>uniE_778.glif</string>
    <key>uniE896</key>
    <string>uniE_896.glif</string>
    <key>uniE897</key>
    <string>uniE_897.glif</string>
    <key>uniE898</key>
    <string>uniE_898.glif</string>
    <key>uniF003</key>
    <string>uniF_003.glif</string>
    <key>uniE824</key>
    <string>uniE_824.glif</string>
    <key>uniE843</key>
    <string>uniE_843.glif</string>
    <key>uniE868</key>
    <string>uniE_868.glif</string>
    <key>uniE869</key>
    <string>uniE_869.glif</string>
    <key>uniE873</key>
    <string>uniE_873.glif</string>
    <key>uniE874</key>
    <string>uniE_874.glif</string>
    <key>uniE832</key>
    <string>uniE_832.glif</string>
    <key>uniE833</key>
    <string>uniE_833.glif</string>
    <key>uniE834</key>
    <string>uniE_834.glif</string>
    <key>uniE839</key>
    <string>uniE_839.glif</string>
    <key>uniE840</key>
    <string>uniE_840.glif</string>
    <key>uniF004</key>
    <string>uniF_004.glif</string>
    <key>uniF010</key>
    <string>uniF_010.glif</string>
    <key>uniF011</key>
    <string>uniF_011.glif</string>
    <key>uniF012</key>
    <string>uniF_012.glif</string>
    <key>uniF013</key>
    <string>uniF_013.glif</string>
    <key>uniF014</key>
    <string>uniF_014.glif</string>
    <key>uniF020</key>
    <string>uniF_020.glif</string>
    <key>uniF021</key>
    <string>uniF_021.glif</string>
    <key>uniF022</key>
    <string>uniF_022.glif</string>
    <key>uniE819</key>
    <string>uniE_819.glif</string>
    <key>uniE825</key>
    <string>uniE_825.glif</string>
    <key>uniE847</key>
    <string>uniE_847.glif</string>
    <key>uniE848</key>
    <string>uniE_848.glif</string>
    <key>uniE854</key>
    <string>uniE_854.glif</string>
    <key>uniE808</key>
    <string>uniE_808.glif</string>
    <key>uniE809</key>
    <string>uniE_809.glif</string>
    <key>uniE814</key>
    <string>uniE_814.glif</string>
    <key>uniE815</key>
    <string>uniE_815.glif</string>
    <key>uniE860</key>
    <string>uniE_860.glif</string>
    <key>uniE909</key>
    <string>uniE_909.glif</string>
    <key>uniE910</key>
    <string>uniE_910.glif</string>
    <key>uniE726</key>
    <string>uniE_726.glif</string>
    <key>uniE844</key>
    <string>uniE_844.glif</string>
    <key>uniF032</key>
    <string>uniF_032.glif</string>
    <key>uniF033</key>
    <string>uniF_033.glif</string>
    <key>uniF034</key>
    <string>uniF_034.glif</string>
    <key>uniF035</key>
    <string>uniF_035.glif</string>
    <key>uniF036</key>
    <string>uniF_036.glif</string>
    <key>uniF037</key>
    <string>uniF_037.glif</string>
    <key>uniF038</key>
    <string>uniF_038.glif</string>
    <key>uniF039</key>
    <string>uniF_039.glif</string>
    <key>uniE719</key>
    <string>uniE_719.glif</string>
    <key>uniF060</key>
    <string>uniF_060.glif</string>
    <key>uniF061</key>
    <string>uniF_061.glif</string>
    <key>uniF064</key>
    <string>uniF_064.glif</string>
    <key>uniF065</key>
    <string>uniF_065.glif</string>
    <key>uniE727</key>
    <string>uniE_727.glif</string>
    <key>uniE728</key>
    <string>uniE_728.glif</string>
    <key>uniF062</key>
    <string>uniF_062.glif</string>
    <key>uniF066</key>
    <string>uniF_066.glif</string>
    <key>uniE917</key>
    <string>uniE_917.glif</string>
    <key>uniE944</key>
    <string>uniE_944.glif</string>
    <key>uniF102</key>
    <string>uniF_102.glif</string>
    <key>uniF103</key>
    <string>uniF_103.glif</string>
    <key>uniF104</key>
    <string>uniF_104.glif</string>
    <key>uniF105</key>
    <string>uniF_105.glif</string>
    <key>uniF106</key>
    <string>uniF_106.glif</string>
    <key>uniF107</key>
    <string>uniF_107.glif</string>
    <key>uniF108</key>
    <string>uniF_108.glif</string>
    <key>uniF109</key>
    <string>uniF_109.glif</string>
    <key>uniF112</key>
    <string>uniF_112.glif</string>
    <key>uniF115</key>
    <string>uniF_115.glif</string>
    <key>uniF116</key>
    <string>uniF_116.glif</string>
    <key>uniF117</key>
    <string>uniF_117.glif</string>
    <key>uniF118</key>
    <string>uniF_118.glif</string>
    <key>uniF119</key>
    <string>uniF_119.glif</string>
    <key>uniF121</key>
    <string>uniF_121.glif</string>
    <key>uniF122</key>
    <string>uniF_122.glif</string>
    <key>uniF123</key>
    <string>uniF_123.glif</string>
    <key>uniF124</key>
    <string>uniF_124.glif</string>
    <key>uniF127</key>
    <string>uniF_127.glif</string>
    <key>uniF128</key>
    <string>uniF_128.glif</string>
    <key>uniF129</key>
    <string>uniF_129.glif</string>
    <key>uniF130</key>
    <string>uniF_130.glif</string>
    <key>uniF131</key>
    <string>uniF_131.glif</string>
    <key>uniF132</key>
    <string>uniF_132.glif</string>
    <key>uniF133</key>
    <string>uniF_133.glif</string>
    <key>uniF135</key>
    <string>uniF_135.glif</string>
    <key>uniF136</key>
    <string>uniF_136.glif</string>
    <key>uniF137</key>
    <string>uniF_137.glif</string>
    <key>uniF138</key>
    <string>uniF_138.glif</string>
    <key>uniF139</key>
    <string>uniF_139.glif</string>
    <key>uniF142</key>
    <string>uniF_142.glif</string>
    <key>uniF143</key>
    <string>uniF_143.glif</string>
    <key>uniF144</key>
    <string>uniF_144.glif</string>
    <key>uniF145</key>
    <string>uniF_145.glif</string>
    <key>uniF146</key>
    <string>uniF_146.glif</string>
    <key>uniF147</key>
    <string>uniF_147.glif</string>
    <key>uniF148</key>
    <string>uniF_148.glif</string>
    <key>uniF149</key>
    <string>uniF_149.glif</string>
    <key>uniF150</key>
    <string>uniF_150.glif</string>
    <key>uniF151</key>
    <string>uniF_151.glif</string>
    <key>uniF152</key>
    <string>uniF_152.glif</string>
    <key>uniF153</key>
    <string>uniF_153.glif</string>
    <key>uniF154</key>
    <string>uniF_154.glif</string>
    <key>uniF155</key>
    <string>uniF_155.glif</string>
    <key>uniF156</key>
    <string>uniF_156.glif</string>
    <key>uniF157</key>
    <string>uniF_157.glif</string>
    <key>uniF158</key>
    <string>uniF_158.glif</string>
    <key>uniF159</key>
    <string>uniF_159.glif</string>
    <key>uniF160</key>
    <string>uniF_160.glif</string>
    <key>uniF161</key>
    <string>uniF_161.glif</string>
    <key>uniF162</key>
    <string>uniF_162.glif</string>
    <key>uniF163</key>
    <string>uniF_163.glif</string>
    <key>uniF164</key>
    <string>uniF_164.glif</string>
    <key>uniF165</key>
    <string>uniF_165.glif</string>
    <key>uniF166</key>
    <string>uniF_166.glif</string>
    <key>uniF167</key>
    <string>uniF_167.glif</string>
    <key>uniF168</key>
    <string>uniF_168.glif</string>
    <key>uniF170</key>
    <string>uniF_170.glif</string>
    <key>uniF171</key>
    <string>uniF_171.glif</string>
    <key>uniF172</key>
    <string>uniF_172.glif</string>
    <key>uniF173</key>
    <string>uniF_173.glif</string>
    <key>uniF174</key>
    <string>uniF_174.glif</string>
    <key>uniF175</key>
    <string>uniF_175.glif</string>
    <key>uniF176</key>
    <string>uniF_176.glif</string>
    <key>uniF177</key>
    <string>uniF_177.glif</string>
    <key>uniF179</key>
    <string>uniF_179.glif</string>
    <key>uniF180</key>
    <string>uniF_180.glif</string>
    <key>uniF181</key>
    <string>uniF_181.glif</string>
    <key>uniF182</key>
    <string>uniF_182.glif</string>
    <key>uniF183</key>
    <string>uniF_183.glif</string>
    <key>uniF184</key>
    <string>uniF_184.glif</string>
    <key>uniF186</key>
    <string>uniF_186.glif</string>
    <key>uniF187</key>
    <string>uniF_187.glif</string>
    <key>uniF188</key>
    <string>uniF_188.glif</string>
    <key>uniF189</key>
    <string>uniF_189.glif</string>
    <key>uniF190</key>
    <string>uniF_190.glif</string>
    <key>uniF191</key>
    <string>uniF_191.glif</string>
    <key>uniF192</key>
    <string>uniF_192.glif</string>
    <key>uniF193</key>
    <string>uniF_193.glif</string>
    <key>uniF194</key>
    <string>uniF_194.glif</string>
    <key>uniF195</key>
    <string>uniF_195.glif</string>
    <key>uniF196</key>
    <string>uniF_196.glif</string>
    <key>uniF197</key>
    <string>uniF_197.glif</string>
    <key>uniF198</key>
    <string>uniF_198.glif</string>
    <key>uniF199</key>
    <string>uniF_199.glif</string>
    <key>uniF200</key>
    <string>uniF_200.glif</string>
    <key>uniF201</key>
    <string>uniF_201.glif</string>
    <key>uniF202</key>
    <string>uniF_202.glif</string>
    <key>uniF203</key>
    <string>uniF_203.glif</string>
    <key>uniF204</key>
    <string>uniF_204.glif</string>
    <key>uniF205</key>
    <string>uniF_205.glif</string>
    <key>uniF206</key>
    <string>uniF_206.glif</string>
    <key>uniF207</key>
    <string>uniF_207.glif</string>
    <key>uniF208</key>
    <string>uniF_208.glif</string>
    <key>uniF209</key>
    <string>uniF_209.glif</string>
    <key>uniF210</key>
    <string>uniF_210.glif</string>
    <key>uniF211</key>
    <string>uniF_211.glif</string>
    <key>uniF212</key>
    <string>uniF_212.glif</string>
    <key>uniF214</key>
    <string>uniF_214.glif</string>
    <key>uniF215</key>
    <string>uniF_215.glif</string>
    <key>uniF216</key>
    <string>uniF_216.glif</string>
    <key>uniF217</key>
    <string>uniF_217.glif</string>
    <key>uniF218</key>
    <string>uniF_218.glif</string>
    <key>uniF219</key>
    <string>uniF_219.glif</string>
    <key>uniF220</key>
    <string>uniF_220.glif</string>
    <key>uniF221</key>
    <string>uniF_221.glif</string>
    <key>uniF222</key>
    <string>uniF_222.glif</string>
    <key>uniF225</key>
    <string>uniF_225.glif</string>
    <key>uniF226</key>
    <string>uniF_226.glif</string>
    <key>uniF223</key>
    <string>uniF_223.glif</string>
    <key>uniF227</key>
    <string>uniF_227.glif</string>
    <key>uniE841</key>
    <string>uniE_841.glif</string>
    <key>uniE862</key>
    <string>uniE_862.glif</string>
    <key>uniE958</key>
    <string>uniE_958.glif</string>
    <key>uniE963</key>
    <string>uniE_963.glif</string>
    <key>uniE943</key>
    <string>uniE_943.glif</string>
    <key>uniE950</key>
    <string>uniE_950.glif</string>
    <key>uniF111</key>
    <string>uniF_111.glif</string>
    <key>uniF120</key>
    <string>uniF_120.glif</string>
    <key>uniF125</key>
    <string>uniF_125.glif</string>
    <key>uniF126</key>
    <string>uniF_126.glif</string>
    <key>uniE826</key>
    <string>uniE_826.glif</string>
    <key>uniE827</key>
    <string>uniE_827.glif</string>
    <key>uniE828</key>
    <string>uniE_828.glif</string>
    <key>uniE829</key>
    <string>uniE_829.glif</string>
    <key>uniE822</key>
    <string>uniE_822.glif</string>
    <key>uniE818</key>
    <string>uniE_818.glif</string>
    <key>uniF040</key>
    <string>uniF_040.glif</string>
    <key>uniF041</key>
    <string>uniF_041.glif</string>
    <key>uniF042</key>
    <string>uniF_042.glif</string>
    <key>uniF070</key>
    <string>uniF_070.glif</string>
    <key>uniE823</key>
    <string>uniE_823.glif</string>
  </dict>
</plist>
